<ion-modal-view ng-controller="EventViewCtrl">
  <ion-content has-bouncing="false" id="event-container">
    <div id="map">
      Hey there.
    </div>
    <div class="top-banner card-body {{event.font_family}}-card" back-img="{{event.photo}}">
      <div class="bkdrop" ng-style="{'background-color':event.color}"></div>
      <h1>{{event.name}}</h1>
      <span class="close" ng-click="killModal()">&times;</span>
    </div>
  </ion-content>
  <ion-scroll id="ev-scroll" direction="x" class="overscroll" delegate-handle="event-handle">
      <div class="events-carousel">

        <div class="card place-card" ng-click="toggleSecondModal(place)" ng-repeat="place in places">
            <div class="place-img" back-img="{{place.photo}}">
              <div class="friends-list">
                  <img ng-src="{{person.user_photo}}" ng-repeat="person in place.people">
              </div>
            </div> 
            <div class="placetime"> 
            <div class="placecombo">
                <span class="place">{{place.name}}</span>
                <span class="location">{{place.address}}</span>
              </div>
              <span class="time">17:00</span>
            </div>        
        </div>
        <div class="card place-card new-place">
            <span class="icon ion-plus"></span>
            <span class="new-text">Novo Local</span>
        </div>
      </div>
  </ion-scroll>
  <ion-content class="bkdrop" ng-show="showModal" ng-class="showModal ? 'opaque' : ''">
    <div class="card supermodal" >
    <div class="super-img" back-img="{{selplace.photo}}">
      <span class="close" ng-click="toggleSecondModal()">&times;</span>
    </div>
    <div class="supertime">
        <div class="date">
          <span class="month">{{event.event_date | date:"MMM":"+0000"}}</span>
          <span class="day">{{event.event_date | date:"dd":"+0000"}}</span>
        </div>
        <div class="placecombo">
          <span class="place">{{selplace.name}}</span>
          <span class="location">{{selplace.address}}</span>
        </div>
        <div class="time">17:00</div>
    </div>
    <ion-scroll direction="x">
      <div class="friends-carousel">
        <div class="friend" ng-repeat="person in selplace.people">
          <img ng-src="{{person.user_photo}}">
          <span class="text">{{person.user_name}}</span>
        </div>
      </div>
    </ion-scroll>
    <div class="button-area">
      <button class="go-button" ng-class="selplace.participating ? 'green' : ''" ng-click="selplace.participating = !selplace.participating">
        <span class="ion-checkmark-round"></span> {{selplace.participating ? "Participando" : "Participar"}}
      </button>
      <button class="go-button">
          <span class="ion-reply"></span> Convidar
      </button>
    </div>
    <div class="comments-area">
      <div class="comment">
        <img class="commenter" src="img/lucas-santos.jpg">
        <div class="comm-text">
          <span class="comm-title">Lucas</span>
          <span class="comm-body">Onde vocês vão se encontrar?</span>
        </div>
      </div>
      <div class="comment">
          <img class="commenter" src="img/leonardo-padilha.jpg">
          <div class="comm-text">
            <span class="comm-title">Leonardo</span>
            <span class="comm-body">Na saída do metrô!</span>
          </div>
      </div>
      <div class="enter-sign"><span class="enter-name">Lucas</span> convidou <span class="enter-name">Gabriel</span></div>
      <div class="comment">
          <img class="commenter" src="img/gabriel-souza.jpg">
          <div class="comm-text">
            <span class="comm-title">Gabriel</span>
            <span class="comm-body">E aí, pessoas!</span>
          </div>
      </div>
      <div class="enter-sign" ng-show="selplace.participating"><span class="enter-name">Gustavo</span> agora está participando.</div>
    </div>
    <div class="comment-form">
      <input class="comment-input" placeholder="Escreva uma mensagem...">
      <button class="comment-button">
        <span class="ion-arrow-up-c"></span>
      </button>
    </div>
  </ion-content>
</ion-modal-view>
