<ion-modal-view ng-controller="EventViewCtrl">
  <ion-content has-bouncing="false" id="event-container">
    <div id="map">
      Hey there.
    </div>
    <div class="top-banner card-body carnaval-card">
      <div class="bkdrop"></div>
      <h1>Pós-Carnaval</h1>
      <span class="close" ng-click="modal.hide()">&times;</span>
    </div>
  </ion-content>
  <ion-scroll direction="x" class="overscroll">
      <div class="events-carousel">
          <div class="card place-card" ng-click="toggleSecondModal()">
            <div class="place-img" back-img="img/paulista.jpg">
              <div class="friends-list">
                  <img src="img/mike.png" alt="">
                  <img src="img/perry.png" alt="">
              </div>
            </div>
            <div class="placetime">
              <div class="placecombo">
                  <span class="place">Av. Paulista</span>
              </div>
              <span class="time">15:30</span>
            </div>
          </div>
          <div class="card place-card" ng-click="toggleSecondModal()">
            <div class="place-img" back-img="img/augusta.jpg">
              <div class="friends-list">
                  <img src="img/adam.jpg" alt="">
                  <img src="img/ben.png" alt="">
                  <img src="img/max.png" alt="">
              </div>
            </div>
            <div class="placetime">
              <div class="placecombo">
                <span class="place">Casa Comigo?</span>
                <span class="location">R. Caio Prado, 256</span>
              </div>
              <span class="time">17:00</span>
            </div>
          </div>
          <div class="card place-card new-place">
              <span class="icon ion-plus"></span>
              <span class="new-text">Escolher Local</span>
          </div>
      </div>
  </ion-scroll>
  <ion-content class="bkdrop" ng-show="showModal">
    <div class="card supermodal" >
    <div class="super-img" back-img="img/augusta.jpg">
      <span class="close" ng-click="toggleSecondModal()">&times;</span>
    </div>
    <div class="supertime">
        <div class="date">
          <span class="month">FEV</span>
          <span class="day">17</span>
        </div>
        <div class="placecombo">
          <span class="place">Casa Comigo?</span>
          <span class="location">R. Caio Prado, 256</span>
        </div>
        <div class="time">17:00</div>
    </div>
    <ion-scroll direction="x">
      <div class="friends-carousel">
        <div class="friend">
          <img src="img/adam.jpg" alt="">
          <span class="text">Adam</span>
        </div>
        <div class="friend">
            <img src="img/ben.png" alt="">
            <span class="text">Ben</span>
        </div>
        <div class="friend">
            <img src="img/max.png" alt="">
            <span class="text">Max</span>
        </div>
      </div>
    </ion-scroll>
    <div class="button-area">
      <button class="go-button">
        <span class="ion-checkmark-round"></span> Participar
      </button>
      <button class="go-button">
          <span class="ion-reply"></span> Convidar
      </button>
    </div>
    <div class="comments-area">
      <div class="comment">
        <img class="commenter" src="img/adam.jpg">
        <div class="comm-text">
          <span class="comm-title">Adam</span>
          <span class="comm-body">Onde vocês vão se encontrar?</span>
        </div>
      </div>
      <div class="comment">
          <img class="commenter" src="img/ben.png">
          <div class="comm-text">
            <span class="comm-title">Ben</span>
            <span class="comm-body">Na saída do metrô!</span>
          </div>
      </div>
      <div class="enter-sign"><span class="enter-name">Adam</span> convidou <span class="enter-name">Max</span></div>
      <div class="comment">
          <img class="commenter" src="img/max.png">
          <div class="comm-text">
            <span class="comm-title">Max</span>
            <span class="comm-body">E aí, pessoas!</span>
          </div>
      </div>
    </div>
    <div class="comment-form">
      <input class="comment-input" placeholder="Escreva uma mensagem...">
      <button class="comment-button">
        <span class="ion-arrow-up-c"></span>
      </button>
    </div>
  </ion-content>
</ion-modal-view>
