<ion-view view-title="Eventos Próximos">
  <ion-content class="padding">

    <div class="card event-card" ng-click="openModal(event)" ng-repeat="event in events">
      <div class="card-body {{event.font_family}}-card" back-img="{{event.photo}}">
          <div class="bkdrop" ng-style="{'background-color':event.color}"></div>
          <h1>{{event.name}}</h1>
        </div>
        <div class="friends-bar">
          <div class="date">
            <span class="month">{{event.event_date | date:"MMM":"+0000"}}</span>
            <span class="day">{{event.event_date | date:"dd":"+0000"}}</span>
          </div>
          <img ng-src="{{person.user_photo}}" ng-repeat="person in people | limitTo:4">
          <div class="more-friends">
            +{{event.num_friends % 100}}
          </div>
        </div> 
      </div>     
    </div>
  </ion-content>
</ion-view>
